<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <title>선수 컬렉션 - BaseBall LOCK</title>
  </head>
  <body>
    <th:block layout:fragment="contents">
      <div class="container py-5">
        <h1 class="display-4 mb-4">
          <i class="bi bi-collection"></i> 선수 컬렉션
        </h1>

        <div class="alert alert-info">
          <i class="bi bi-info-circle"></i> 선수 컬렉션 카드 뷰 페이지입니다. (준비 중)
        </div>

        <a th:href="@{/customPlayer}" class="btn btn-secondary">
          <i class="bi bi-arrow-left"></i> 돌아가기
        </a>
      </div>
    </th:block>
  </body>
</html>
