<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <title>선수 편집 - BaseBall LOCK</title>
  </head>
  <body>
    <th:block layout:fragment="contents">
      <div class="container py-5">
        <h1 class="display-4 mb-4">
          <i class="bi bi-pencil"></i> 선수 정보 편집
        </h1>

        <div class="alert alert-warning">
          <i class="bi bi-exclamation-triangle"></i> 선수 정보 편집 기능은 준비 중입니다.
        </div>

        <a th:href="@{/customPlayer}" class="btn btn-secondary">
          <i class="bi bi-arrow-left"></i> 돌아가기
        </a>
      </div>
    </th:block>
  </body>
</html>
